@import "../../styles/variables.scss";

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  padding: 40px 0;
}

.heading {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.steps {
  font-size: 3rem;
  margin-bottom: 20px;
  & span {
    font-size: 1.5rem;
  }
}

.question {
  font-size: 1rem;
  text-align: left;
  word-break: break-all;
  margin-bottom: 20px;
}

.button-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
