.container {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  padding: 40px 0;
}

.heading {
  font-size: 1.75rem;
  font-weight: normal;
  word-break: keep-all;
  margin-bottom: 40px;
}

.sub {
  font-size: 1.5rem;
  font-weight: normal;
  word-break: keep-all;
  margin-bottom: 40px;
}
