@import "../../styles/variables.scss";

.container {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  padding: 40px 0;
}

.heading {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.question {
  font-size: 1rem;
  text-align: left;
  word-break: break-all;
  margin-bottom: 20px;
}

.label-area {
  text-align: left;
  margin-bottom: 8px;
}

.label {
  font-size: 1rem;
}

.text-area {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 8px;
  border: 1px solid $color-gray;
  border-radius: 4px;
  margin-bottom: 20px;

  &-error {
    border-color: $color-red;
    margin-bottom: 0;
  }
}

.error-message {
  color: $color-red;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 20px;
}
